<!-- base.html -->
{% extends 'base_for_home.html' %}

<!-- title block -->
{% block title %}Task Management System{% endblock %}

<!-- content of home page -->
{% block content %}
<!-- end block  -->

<main>
  <!-- include header file -->
  {% include 'components/home/header.html' %}
  <!-- features  -->
  {% include 'components/home/features.html' %}
  <!-- Testimonials -->
  {% include 'components/home/testimonials.html' %}
  <!-- Contact Us Section -->
  {% include 'components/home/contact_us.html' %}
  <!-- subscribe Section -->
  <!-- {% include 'components/home/subscribe.html' %} -->
</main>
{% endblock %}
