<!-- side menu -->
{% extends 'components/dashboard.html' %}
<!-- start content  -->

{% block dashboard_content %}
<div class="py-4">
  <div class="container mx-auto">
    <h2 class="text-3xl font-semibold mb-6">Change User Password</h2>
    <div
      class="md:max-w-md lg:max-w-full mx-auto bg-white rounded-lg overflow-hidden shadow-md"
    >
      <div class="px-4 py-5 sm:p-6">
        {% if form.errors %}
        <!-- looping the error -->
        {% for error in form.errors %}
        <p class="text-red-500 mb-4">{{ error }}</p>
        {% endfor %}
        <!-- endif  -->
        {% endif %}
        <form method="POST">
          {% csrf_token %}
          <div class="mb-4">
            <label class="block text-gray-700 font-semibold mb-2" for="title">
              old password
            </label>
            <input
              class="appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
              id="title"
              name="old_password"
              type="password"
              placeholder="Enter old password"
            />
          </div>

          <div class="mb-4">
            <label class="block text-gray-700 font-semibold mb-2" for="title">
              new password
            </label>
            <input
              class="appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
              id="title"
              name="new_password1"
              type="password"
              placeholder="Enter new password"
            />
          </div>

          <div class="mb-4">
            <label class="block text-gray-700 font-semibold mb-2" for="title">
              confirm new password
            </label>
            <input
              class="appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
              id="title"
              name="new_password2"
              type="password"
              placeholder="Enter confirm password"
            />
          </div>

          <button
            class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
            type="submit"
          >
            Change Password
          </button>
        </form>
      </div>
    </div>
  </div>
</div>

{% endblock %}
