<!-- side menu -->
{% extends 'components/dashboard.html' %}
<!-- start content  -->

{% block dashboard_content %}
<div class="flex">
  <div class="sm:w-1/2 md:w-full bg-white rounded-lg shadow-lg p-8">
    <h2 class="text-xl font-medium mb-4">Update User Information</h2>
    {% if update_valid %}
    <div class="my-8 py-4 border-b">
      <h2
        class="border border-green-200 p-2 mb-4 text-green-700 font-bold text-lg"
      >
        User Update your information Successfully
      </h2>
      <a
        href="{% url 'team:team-main' %}"
        class="bg-blue-400 text-white py-2 px-2 rounded-lg"
        >Going To DashBoard</a
      >
    </div>
    {% endif %}
    <form method="POST" enctype="multipart/form-data">
      <!-- if we have error -->
      {% if form.errors %}
      <!-- looping all fields -->
      {% for field in form %}
      <!-- get all error in field -->
      {% for error in field.errors %}
      <p class="text-red-500 mb-4">{{ error|escape }}</p>
      {% endfor %}
      <!-- end looping -->
      {% endfor %}
      <!-- end if  -->
      {% endif %}
      <!-- csrf token  -->
      {% csrf_token %}
      <div class="mb-4">
        <label for="user-image" class="block text-gray-700 font-medium mb-2"
          >User Image</label
        >
        <p class="mb-2">Selected: {{form.image.value}}</p>
        <input
          type="file"
          name="image"
          id="user-image"
          class="border rounded-lg p-2 w-full"
        />
      </div>
      <div class="mb-4">
        <label for="name" class="block text-gray-700 font-medium mb-2"
          >Name</label
        >
        <input
          type="text"
          name="name"
          id="name"
          value="{{form.name.value}}"
          class="border rounded-lg p-2 w-full"
          required
        />
      </div>
      <div class="mb-4">
        <label for="email" class="block text-gray-700 font-medium mb-2"
          >Email</label
        >
        <input
          type="email"
          name="email"
          id="email"
          value="{{form.email.value}}"
          class="border rounded-lg p-2 w-full"
          readonly
        />
      </div>
      <div class="mb-4">
        <label for="username" class="block text-gray-700 font-medium mb-2"
          >Username</label
        >
        <input
          type="text"
          name="username"
          id="username"
          value="{{form.username.value}}"
          class="border rounded-lg p-2 w-full"
        />
      </div>
      <div class="mb-4">
        <label for="bio" class="block text-gray-700 font-medium mb-2"
          >Bio</label
        >
        <textarea name="bio" id="bio" class="border rounded-lg p-2 w-full">
{{form.bio.value}}</textarea
        >
      </div>

      <div class="mt-8">
        <button
          type="submit"
          class="bg-blue-500 text-white rounded-lg px-4 py-2 hover:bg-blue-700"
        >
          Update
        </button>
      </div>
    </form>
  </div>
</div>

{% endblock %}
