<header class="bg-gray-900 text-white px-4 py-2">
  <nav class="flex justify-between">
    <div>
      <h1 class="text-xl">Task Management System</h1>
    </div>

    <div>
      {% if not request.user.is_authenticated %}
      <a href="{% url 'account:login' %}" class="text-gray-300 hover:text-white"
        >Login</a
      >
      <a
        href="{% url 'account:register' %}"
        class="text-gray-300 hover:text-white ml-4"
        >Register</a
      >
      {% else %}
      <a
        href="{% url 'account:logout' %}"
        class="text-gray-300 hover:text-white ml-4"
        >Logout</a
      >
      {% endif %}
    </div>
  </nav>
</header>
